@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --primary-white: hsl(0, 0%, 100%);
  --primary-light-gray: hsl(212, 45%, 89%);
  --primary-grayish-blue: hsl(220, 15%, 55%);
  --primary-dark-blue: hsl(218, 44%, 22%);

  --font-family-default: "Outfilt", sans-serif;
}

/*Footer*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
